# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# lnInclude
lnInclude

# Build directories
linux*Gcc*/

# Dependency files
*.dep

# Vscode 
.vscode/

# Image files
*.eps
*.pdf

# Processor directories
processor*

# Mesh directory
polyMesh/

# Log files
log.*

# Foam file
*.foam

# Post processing directory
postProcessing/